*{
    box-sizing: border-box;
}



.home-main{
    background-image: url('../Assets/Sunny.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-main-cold{
    background-image: url('../Assets/Cold.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    min-height: 91.7vh;
    padding: 20px;
}

.home-search-row{
    width: 100%;    
    margin: 0 0 6vh;
    text-align: center;
}

.search-bar{
    display:float;
    width: 50%;
    padding: 1.5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.4vh;
    margin-top: -35px;
    font-size: 2vh;
    color: black;
}

.search-bar:focus{
    background-color: rgba(255, 255, 255, 0.8);
}

.location-box{
    text-align: center;
    width: 100%;
    padding-top: 6vh;
}

.location-name{
    font-size: 5vh;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-shadow: 3px 3px rgba(0, 0, 0, 2);
}

.temp-box-hot{
    
    margin-top: 17vh;
    margin-left: 60vh;
    margin-right: 60vh;
    padding-top: 4vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#046f94),to(#3493ad));
    border-radius: 2vh;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
}

.temp-box-cold{
    margin-top: 17vh;
    margin-left: 40vh;
    margin-right: 40vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#6e3f98),to(#a37697));
    border-radius: 2vh;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
}


.temp-box-main{
    display: flex;
    justify-content: space-between;
}


.temp-celsius{
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
    color: white;
    font-size: 8rem;
    border-radius: 16px;
    text-shadow: 3px 3px rgba(0, 0, 0, 2);
}

.after-temp{
    font-size: 3rem;
    margin-left: -6vh;
    color: #777777;
}

.weather-main{
    padding-top: 15px;
    text-align: right;
    padding-right: 10px;
}

.weather-icons{
    height: 150px!important;
    width: 150px!important;
}

.weather-name{
    color: white;
    font-size: 2.3rem;
    border-radius: 16px;
    padding-right: 15px;
    margin-top: -35px;
}

.weather-name::first-letter{
    text-transform: capitalize;
}

.temp-box-footer{
    display: flex;
    justify-content: space-between;
}

.weather-enviroment{

    color: white;
    font-size: 2rem;
    border-radius: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
}

.weather-min-max{
    color: white;
    font-size: 2rem;
    border-radius: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 30px;
    padding-top: 20px;
}